Repository BinaryStudioAcademy/bsa-winter-2022-2023-smartspend, pull requests merged in 2023-04, with the labels that each got.

#255 ss-254: connect user profile to backend
  backend/src/bundles/users/types/types.ts
  backend/src/bundles/users/user-profile.model.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/bundles/users/user.entity.ts
  backend/src/bundles/users/user.service.ts
  frontend/src/bundles/account-settings/account-settings.tsx
  frontend/src/bundles/account-settings/components/components.tsx
  frontend/src/bundles/account-settings/components/settings/styles.module.scss
  frontend/src/bundles/account-settings/components/settings/title.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/avatar-container.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/avatar.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/delete-avatar-button.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/mock-data.ts
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/submit-button.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/upload-avatar-button.tsx
  frontend/src/bundles/account-settings/styles.module.scss
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/settings/user-profile/mock-data.ts
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/index.tsx
  shared/src/bundles/users/enums/enums.ts
  shared/src/bundles/users/enums/user-gender.enum.ts
  shared/src/bundles/users/types/types.ts
  shared/src/bundles/users/types/update-request-dto.ts
  shared/src/bundles/users/types/user-change-settings-request.ts
  shared/src/bundles/users/types/user-update-request-dto.ts
  shared/src/bundles/users/types/user-update-response-dto.ts
  shared/src/bundles/users/users.ts
  shared/src/index.ts
Labels: frontend, development, root

#256 ss-251: add user settings page
  frontend/src/bundles/account-settings/account-settings.tsx
  frontend/src/bundles/account-settings/components/components.tsx
  frontend/src/bundles/account-settings/components/settings/styles.module.scss
  frontend/src/bundles/account-settings/components/settings/title.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/avatar-container.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/avatar.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/delete-avatar-button.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/mock-data.ts
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/submit-button.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/upload-avatar-button.tsx
  frontend/src/bundles/account-settings/styles.module.scss
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/index.tsx
Labels: frontend, development

#224 ss-212: update wallet details page
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/input/styles.module.scss
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/pages/wallet-details/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: frontend, development, W3

#246 ss-243: Removed header in not found page
  frontend/src/index.tsx
Labels: bug, frontend, development

#208 ss-129: add api for budgets
  backend/src/bundles/budgets-categories/budget-categories.model.ts
  backend/src/bundles/budgets-categories/budget-categories.repository.ts
  backend/src/bundles/budgets-categories/budget-categories.service.ts
  backend/src/bundles/budgets-categories/budget-category.entity.ts
  backend/src/bundles/budgets-categories/budgets-categories.ts
  backend/src/bundles/budgets-categories/types/types.ts
  backend/src/bundles/budgets/budgets.controller.ts
  backend/src/bundles/budgets/budgets.entity.ts
  backend/src/bundles/budgets/budgets.model.ts
  backend/src/bundles/budgets/budgets.repository.ts
  backend/src/bundles/budgets/budgets.service.ts
  backend/src/bundles/budgets/budgets.ts
  backend/src/bundles/budgets/enums/enums.ts
  backend/src/bundles/budgets/types/types.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/server-application/server-application.ts
  backend/src/migrations/20230402151630_add_budgets_table.ts
  shared/src/bundles/budget-categories/types/create-dto.type.ts
  shared/src/bundles/budget-categories/types/get-all-response-dto.type.ts
  shared/src/bundles/budget-categories/types/response-dto.type.ts
  shared/src/bundles/budget-categories/types/types.ts
  shared/src/bundles/budgets/budgets.ts
  shared/src/bundles/budgets/enums/budget-validation-message.enum.ts
  shared/src/bundles/budgets/enums/budgets-api-path.enum.ts
  shared/src/bundles/budgets/enums/enums.ts
  shared/src/bundles/budgets/types/budget-all-response-dto.type.ts
  shared/src/bundles/budgets/types/budget-find-request-dto.type.ts
  shared/src/bundles/budgets/types/budget-get-all-response-dto.type.ts
  shared/src/bundles/budgets/types/budget-response-dto.type.ts
  shared/src/bundles/budgets/types/create-request-dto.type.ts
  shared/src/bundles/budgets/types/token-delete-request-dto.type.ts
  shared/src/bundles/budgets/types/token-request-dto.type.ts
  shared/src/bundles/budgets/types/types.ts
  shared/src/bundles/budgets/types/update-request-dto.type.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: backend, development, shared, W3

#249 ss-219: Add Ability To Use New Characters For Email Field
  shared/src/bundles/users/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/bundles/users/validation-schemas/user-sign-up.validation-schema.ts
Labels: development, shared, W3

#257 ss-253: change migrations queue
  backend/src/migrations/20230402101039_user_profile.ts
Labels: bug, backend, development, W3

#192 ss-151: Add transaction table
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/transanction-table/components/future-transactions/future-transactions.tsx
  frontend/src/bundles/common/components/transanction-table/components/past-transactions/past-transactions.tsx
  frontend/src/bundles/common/components/transanction-table/components/styles.module.scss
  frontend/src/bundles/common/components/transanction-table/components/transaction/transaction.tsx
  frontend/src/bundles/common/components/transanction-table/helpers/get-daily-totals.helper.ts
  frontend/src/bundles/common/components/transanction-table/helpers/get-days-left.helper.ts
  frontend/src/bundles/common/components/transanction-table/helpers/get-default-values.helper.ts
  frontend/src/bundles/common/components/transanction-table/helpers/get-future-totals.helper.ts
  frontend/src/bundles/common/components/transanction-table/helpers/get-future-transactions.helper.ts
  frontend/src/bundles/common/components/transanction-table/helpers/get-past-transactions.helper.ts
  frontend/src/bundles/common/components/transanction-table/helpers/group-transactions-by-date.helper.ts
  frontend/src/bundles/common/components/transanction-table/helpers/index.ts
  frontend/src/bundles/common/components/transanction-table/styles.module.scss
  frontend/src/bundles/common/components/transanction-table/transaction-table.tsx
  frontend/src/bundles/common/components/transanction-table/types/index.ts
  frontend/src/bundles/common/components/transanction-table/types/transaction.type.ts
  frontend/src/bundles/common/enums/fa-icons.enum.ts
  frontend/src/bundles/common/enums/input-type.enum.ts
  frontend/src/bundles/common/icon-provider.ts
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/ui/components/components.ts
  frontend/src/bundles/ui/components/transaction-table/transaction-table-part.tsx
  frontend/src/bundles/ui/ui.tsx
Labels: frontend, development, W3

#272 ss-261: Fix hover state on inputs
  frontend/src/bundles/common/components/input/styles.module.scss
Labels: bug, frontend, development, W4

#271 ss-269: Fix button color change
  frontend/src/bundles/common/components/modal-add-wallet/styles.module.scss
Labels: bug, frontend, development, W4

#289 ss-278: Wallet details page doesnt match design
  frontend/src/bundles/common/pages/wallet-details/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: bug, frontend, development, W4

#296 ss-274: Add transactions table to wallet details page
  frontend/src/bundles/common/pages/wallet-details/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: frontend, development, W4

#293 ss-273: Refactor budgets API
  backend/src/bundles/budgets/budgets.controller.ts
  backend/src/bundles/categories/categories.ts
Labels: backend, development, W4

#287 ss-269: Button font and radius update
  frontend/src/bundles/common/components/modal-add-wallet/styles.module.scss
Labels: bug, frontend, development, W4

#288 ss-276: Input font size update
  frontend/src/bundles/common/components/input/styles.module.scss
Labels: bug, frontend, development, W4

#303 ss-294: change tabs for account pages
  frontend/src/bundles/account-settings/account-settings.tsx
  frontend/src/bundles/account-settings/components/components.tsx
  frontend/src/bundles/account-settings/styles.module.scss
  frontend/src/bundles/common/components/user-settings-tabs/styles.module.scss
Labels: frontend, development, W4

#280 ss-227: undefined found route path
  backend/src/common/plugins/authorization/authorization.plugin.ts
  shared/src/enums/exception-message.enum.ts
Labels: bug, backend, development, shared

#247 ss-245: [BUG] Wrong name of App in document head
  frontend/index.html
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/constants/base-app-title.constant.ts
  frontend/src/bundles/common/constants/constants.ts
  frontend/src/bundles/common/enums/app-document-titles.enum.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/helpers/get-app-title/get-app-title.helper.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/common/hooks/use-app-document-title/use-app-document-title.ts
  frontend/src/bundles/common/pages/budgets/budgets.tsx
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/landing/landing.tsx
Labels: bug, frontend, development

#270 ss-263: fixed styles in user profile setting page
  frontend/src/assets/css/variables/color-variables.scss
  frontend/src/bundles/account-settings/components/settings/styles.module.scss
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/account-settings/styles.module.scss
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/icon/icon.tsx
  frontend/src/bundles/common/enums/fa-icons.enum.ts
  frontend/src/bundles/common/icon-provider.ts
  shared/src/enums/exception-message.enum.ts
Labels: frontend, development, shared, W4

#299 ss-298: Connect categories dropdown to backend
  backend/src/seeds/add-categories.ts
  frontend/src/bundles/common/icon-provider.ts
  frontend/src/bundles/common/pages/wallet-details/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
  frontend/src/bundles/common/stores/categories/actions.ts
  frontend/src/bundles/common/stores/categories/categories-api.ts
  frontend/src/bundles/common/stores/categories/categories.ts
  frontend/src/bundles/common/stores/categories/index.ts
  frontend/src/bundles/common/stores/categories/slice.ts
  frontend/src/bundles/common/types/dropdown.type.ts
  frontend/src/framework/store/store.package.ts
Labels: frontend, backend, development, shared, W4

#310 ss-295: Fix truncated letters
  frontend/src/bundles/common/components/dropdown/styles.module.scss
  frontend/src/bundles/common/components/user-settings-tabs/styles.module.scss
Labels: frontend, development

#265 ss-241: Add footer menu on small screen
  frontend/src/bundles/account-settings/account-settings.tsx
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/header/styles.module.scss
  frontend/src/bundles/common/components/tabs/components/tab/tab.tsx
  frontend/src/bundles/common/components/tabs/styles.module.scss
  frontend/src/bundles/common/components/tabs/tabs.tsx
  frontend/src/bundles/common/components/user-settings-tabs/user-settings-tabs.tsx
  frontend/src/bundles/common/config/header-tabs.config.ts
  frontend/src/bundles/common/enums/fa-icons.enum.ts
  frontend/src/bundles/common/icon-provider.ts
Labels: frontend, development, W4

#309 ss-281: Visual defects on the Account settings page
  frontend/src/bundles/account-settings/components/settings/styles.module.scss
  frontend/src/bundles/account-settings/components/settings/user-profile/avatar-container.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/avatar.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/upload-avatar-button.tsx
  frontend/src/bundles/common/components/input/styles.module.scss
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
Labels: bug, frontend, development, W4

#312 ss-307: Add service for unloading currencies from the database
  backend/src/bundles/currencies/currencies.ts
  backend/src/bundles/currencies/currency.controller.ts
  backend/src/bundles/currencies/currency.entity.ts
  backend/src/bundles/currencies/currency.model.ts
  backend/src/bundles/currencies/currency.repository.ts
  backend/src/bundles/currencies/currency.service.ts
  backend/src/bundles/currencies/enums/enums.ts
  backend/src/bundles/currencies/types/types.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/server-application/server-application.ts
  frontend/src/app/app.tsx
  frontend/src/bundles/currencies/currencies-api.ts
  frontend/src/bundles/currencies/currencies.ts
  frontend/src/bundles/currencies/enums/enums.ts
  frontend/src/bundles/currencies/store/actions.ts
  frontend/src/bundles/currencies/store/index.ts
  frontend/src/bundles/currencies/store/slice.ts
  frontend/src/bundles/currencies/types/types.ts
  frontend/src/framework/store/store.package.ts
  shared/src/bundles/currencies/currencies.ts
  shared/src/bundles/currencies/enums/currency-api-path.enum.ts
  shared/src/bundles/currencies/enums/currency-validation-message.enum.ts
  shared/src/bundles/currencies/enums/enums.ts
  shared/src/bundles/currencies/types/currency-get-all-item-response-dto.type.ts
  shared/src/bundles/currencies/types/currency-get-all-response-dto.type.ts
  shared/src/bundles/currencies/types/types.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: frontend, backend, development, shared, W4

#282 ss-267: [BUG] Responsive layout on User Settings page doesn't behave as expected
  frontend/src/bundles/account-settings/account-settings.tsx
  frontend/src/bundles/account-settings/components/settings/styles.module.scss
  frontend/src/bundles/account-settings/styles.module.scss
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/tabs/styles.module.scss
  frontend/src/bundles/common/components/user-settings-tabs/styles.module.scss
Labels: bug, frontend, development, W4

#286 ss-167: Add budget details page
  backend/src/bundles/users/user.controller.ts
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/modal/styles.module.scss
  frontend/src/bundles/common/components/transanction-table/types/transaction.type.ts
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/enums/fa-icons.enum.ts
  frontend/src/bundles/common/icon-provider.ts
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-modal/budget-modal.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-modal/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-progress-bar/budget-progress-bar.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-progress-bar/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/components/components.ts
  frontend/src/bundles/common/pages/budgets/budget-details/components/currency/currency.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/doughnut-chart-card/doughnut-chart-card.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/doughnut-chart-card/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/components/info-card/info-card.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/info-card/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/components/multi-dropdown/multi-dropdown.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/multi-dropdown/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/components/one-day-calendar/one-day-calendar.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/one-day-calendar/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/components/recurrence/recurrence.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/recurrence/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/enums/enums.ts
  frontend/src/bundles/common/pages/budgets/budget-details/enums/info-card-types.enum.ts
  frontend/src/bundles/common/pages/budgets/budget-details/helpers/calculate-budget-details.helper.ts
  frontend/src/bundles/common/pages/budgets/budget-details/helpers/helpers.ts
  frontend/src/bundles/common/pages/budgets/budget-details/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budgets.tsx
  frontend/src/index.tsx
  shared/src/bundles/users/types/api-update-user-options.ts
  shared/src/bundles/users/types/types.ts
  shared/src/bundles/users/users.ts
  shared/src/index.ts
Labels: frontend, backend, development, shared, W4

#283 ss-262: add email sending service
  backend/.env.example
  backend/package.json
  backend/src/bundles/auth/auth.service.ts
  backend/src/bundles/auth/auth.ts
  backend/src/common/config/config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/helpers/get-template/get-template.helper.ts
  backend/src/common/helpers/helpers.ts
  backend/src/common/services/email/email.service.ts
  backend/src/common/services/services.ts
  backend/src/common/types/email-properties.type.ts
  backend/src/common/types/types.ts
  backend/src/templates/sign-up-email-template.hbs
  package-lock.json
Labels: backend, ENV, development, root

#316 ss-245: update getAppTitle helper
  frontend/src/bundles/common/helpers/get-app-title/get-app-title.helper.ts
Labels: frontend, development

#228 ss-200: Calendar Fix: Add New Functionality And Fix Design
  frontend/src/bundles/common/components/calendar/calendar.tsx
  frontend/src/bundles/common/components/calendar/components/components.ts
  frontend/src/bundles/common/components/calendar/components/one-day-calendar.tsx
  frontend/src/bundles/common/components/calendar/components/range-calendar.tsx
  frontend/src/bundles/common/components/calendar/styles.module.scss
  frontend/src/bundles/common/helpers/calendar-helpers/get-date-for-arrows.ts
  frontend/src/bundles/common/helpers/calendar-helpers/get-formating-date.ts
  frontend/src/bundles/common/helpers/calendar-helpers/get-initial-range.ts
  frontend/src/bundles/common/helpers/calendar-helpers/get-months-for-arrows.ts
  frontend/src/bundles/common/helpers/helpers.ts
Labels: bug, frontend, development, W3

#302 ss-128: Add API For Transactions
  backend/src/bundles/transactions/enums/enums.ts
  backend/src/bundles/transactions/transaction.controller.ts
  backend/src/bundles/transactions/transaction.entity.ts
  backend/src/bundles/transactions/transaction.model.ts
  backend/src/bundles/transactions/transaction.repository.ts
  backend/src/bundles/transactions/transaction.service.ts
  backend/src/bundles/transactions/transactions.ts
  backend/src/bundles/transactions/types/types.ts
  backend/src/bundles/transactions/validation-schemas/validation-schemas.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/server-application/server-application.ts
  backend/src/migrations/20230404141146_update_transactions_table.ts
  shared/src/bundles/transactions/enum/enums.ts
  shared/src/bundles/transactions/enum/transaction-validation-message.enum.ts
  shared/src/bundles/transactions/enum/transactions-api-path.enum.ts
  shared/src/bundles/transactions/transactions.ts
  shared/src/bundles/transactions/types/delete-request-with-token.type.ts
  shared/src/bundles/transactions/types/request-with-token.type.ts
  shared/src/bundles/transactions/types/transaction-create-request-dto.type.ts
  shared/src/bundles/transactions/types/transaction-find-request-dto.type.ts
  shared/src/bundles/transactions/types/transaction-get-all-item-response-dto.type.ts
  shared/src/bundles/transactions/types/transaction-get-all-response-dto.type.ts
  shared/src/bundles/transactions/types/transaction-update-dto.type.ts
  shared/src/bundles/transactions/types/types.ts
  shared/src/bundles/transactions/validation-schemas/transaction-create-validation-schema.ts
  shared/src/bundles/transactions/validation-schemas/validation-schemas.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: backend, development, shared, W4

#325 ss-320: update-the-base-modal-component
  backend/src/common/server-application/server-application.ts
  frontend/src/bundles/common/components/modal/styles.module.scss
  shared/src/index.ts
Labels: bug, frontend, backend, development, shared, W4

#344 ss-284: Red border when error fix
  frontend/src/bundles/auth/components/sign-in-form/styles.module.scss
  frontend/src/bundles/auth/components/sign-up-form/styles.module.scss
Labels: bug, frontend, development, W4

#343 ss-169: add widget wrappers for charts
  frontend/src/bundles/common/components/bar-chart/bar-chart.tsx
  frontend/src/bundles/common/components/calendar/calendar.tsx
  frontend/src/bundles/common/components/calendar/components/range-calendar.tsx
  frontend/src/bundles/common/components/doughnut-chart/doughnut-chart.tsx
  frontend/src/bundles/common/helpers/calendar-helpers/get-formating-date.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/helpers/helpers.tsx
  frontend/src/bundles/common/pages/dashboard/mocks.dashboard.ts
  package-lock.json
Labels: frontend, development, root, W4

#324 ss-308: Add Loader between sign in/sign up and dashboard
  frontend/src/bundles/auth/auth-api.ts
  frontend/src/bundles/auth/components/auth-app-logo/auth-app-logo.tsx
  frontend/src/bundles/auth/components/auth-app-logo/styles.module.scss
  frontend/src/bundles/auth/components/auth-wrapper/auth-wrapper.tsx
  frontend/src/bundles/auth/components/auth-wrapper/styles.module.scss
  frontend/src/bundles/auth/components/components.ts
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/pages/styles.module.scss
Labels: frontend, development

#338 ss-284: Add logout and settings buttons dropdown
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/header/styles.module.scss
  frontend/src/bundles/common/components/tabs/styles.module.scss
Labels: frontend, development, W4

#297 ss-279: Add API to delete user
  backend/src/bundles/users/user.controller.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/user.service.ts
  shared/src/enums/exception-message.enum.ts
  shared/src/index.ts
Labels: backend, development, shared, W4

#351 ss-345: * [BAG]fix styles
  frontend/src/bundles/auth/components/auth-wrapper/styles.module.scss
  frontend/src/bundles/auth/components/sign-up-form/styles.module.scss
Labels: bug, frontend, development, W4

#349 ss-348: User settings dropdown fix
  frontend/src/bundles/common/components/header/header.tsx
Labels: bug, frontend, development, W4

#242 ss-213: Connect wallets in dashboard to backend
  frontend/src/bundles/common/components/card-total/card-total.tsx
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/modal-add-wallet/constants/constants.ts
  frontend/src/bundles/common/components/modal-add-wallet/modal-add-wallet.tsx
  frontend/src/bundles/common/components/tabs/components/tab/tab.tsx
  frontend/src/bundles/common/components/tabs/tabs.tsx
  frontend/src/bundles/common/components/transanction-table/types/transaction.type.ts
  frontend/src/bundles/common/components/wallet-card/styles.module.scss
  frontend/src/bundles/common/components/wallet-card/wallet-card.tsx
  frontend/src/bundles/common/config/header-tabs.config.ts
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/helpers/find-currency-by-id/find-currency-by-id.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/helpers/to-custom-locale-string/to-custom-locale-string.ts
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
  frontend/src/bundles/common/types/new-wallet-modal.type.ts
  frontend/src/bundles/landing/components/first-step-part/first-step-part.tsx
  frontend/src/bundles/wallets/enums/enums.ts
  frontend/src/bundles/wallets/store/actions.ts
  frontend/src/bundles/wallets/store/index.ts
  frontend/src/bundles/wallets/store/slice.ts
  frontend/src/bundles/wallets/types/types.ts
  frontend/src/bundles/wallets/wallets-api.ts
  frontend/src/bundles/wallets/wallets.ts
  frontend/src/framework/store/store.package.ts
  frontend/src/index.tsx
  frontend/vite.config.ts
Labels: frontend, development, W4

#350 ss-330: Update calendar component
  frontend/src/assets/css/variables/color-variables.scss
  frontend/src/bundles/account-settings/components/settings/styles.module.scss
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/common/components/calendar/styles.module.scss
Labels: frontend, development

#353 ss-336: Budget page title update
  frontend/src/bundles/common/pages/budgets/styles.module.scss
Labels: bug, frontend, development

#301 ss-258: Connect budgets to backend
  backend/src/bundles/budgets-categories/budget-categories.service.ts
  frontend/src/bundles/budgets/budgets-api.ts
  frontend/src/bundles/budgets/budgets.ts
  frontend/src/bundles/budgets/enums/enums.ts
  frontend/src/bundles/budgets/store/actions.ts
  frontend/src/bundles/budgets/store/index.ts
  frontend/src/bundles/budgets/store/slice.ts
  frontend/src/bundles/budgets/types/budget-slice-response-dto.type.ts
  frontend/src/bundles/budgets/types/types.ts
  frontend/src/bundles/common/components/budget-card/budget-card.tsx
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/helpers/to-custom-locale-string/to-custom-locale-string.ts
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-modal/budget-modal.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/components.ts
  frontend/src/bundles/common/pages/budgets/budget-details/components/currency/currency.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/info-card/info-card.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/info-card/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/components/multi-dropdown/multi-dropdown.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/recurrence/recurrence.tsx
  frontend/src/bundles/common/pages/budgets/budgets.tsx
  frontend/src/framework/store/store.package.ts
Labels: frontend, backend, development, W4

#358 ss-356: + copyfiles
  backend/package.json
  package-lock.json
Labels: bug, backend, development, root

#359 ss-354: * login error
  frontend/src/bundles/common/components/input/input.tsx
Labels: frontend, development

#346 ss-333: update wallet details page
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/tabs/components/tab/tab.tsx
  frontend/src/bundles/common/components/tabs/tabs.tsx
  frontend/src/bundles/common/config/header-tabs.config.ts
  frontend/src/bundles/common/pages/wallet-details/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
  frontend/src/bundles/common/types/tabs-data.type.ts
  frontend/src/bundles/common/types/types.ts
Labels: frontend, development, W4

#314 ss-285: add images storing service
  backend/.env.example
  backend/package.json
  backend/src/bundles/users/user-profile.model.ts
  backend/src/bundles/users/user.entity.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/common/config/config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/interfaces/repository.interface.ts
  backend/src/common/middlewares/image/image.middleware.ts
  backend/src/common/middlewares/middlewares.ts
  backend/src/common/services/http/http.service.ts
  backend/src/common/services/image/image.service.ts
  backend/src/common/services/services.ts
  backend/src/migrations/20230405072520_add_images.ts
  package-lock.json
Labels: backend, ENV, development, root

#355 ss-229: update dashboard
  frontend/src/bundles/common/components/button-tabs/button-tabs.tsx
  frontend/src/bundles/common/components/button-tabs/components/button-tab/button-tab.tsx
  frontend/src/bundles/common/components/button-tabs/components/components.ts
  frontend/src/bundles/common/components/button-tabs/styles.module.scss
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/helpers/reset-tabs-active/reset-tabs-active.helper.ts
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/common/hooks/use-button-tabs-state/use-button-tabs.hook.ts
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/styles.module.scss
  frontend/src/bundles/common/types/button-tabs-type.ts
  frontend/src/bundles/common/types/types.ts
Labels: bug, frontend, development

#357 ss-321: user settings page redesign
  frontend/src/bundles/account-settings/account-settings.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/account-settings/styles.module.scss
  frontend/src/bundles/common/components/user-settings-tabs/styles.module.scss
Labels: frontend, development, W4

#363 ss-362: [BUG] not highlighting tabs in header and autorisation warn message
  frontend/src/app/app.tsx
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/config/header-tabs.config.ts
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/index.tsx
Labels: bug, frontend, development, W4

#367 ss-326: Connect transactions in wallet and budget details pages to backend
  frontend/src/bundles/common/components/transanction-table/components/styles.module.scss
  frontend/src/bundles/common/components/transanction-table/components/transaction/transaction.tsx
  frontend/src/bundles/common/components/transanction-table/helpers/get-days-left.helper.ts
  frontend/src/bundles/common/components/transanction-table/types/transaction.type.ts
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
  frontend/src/bundles/common/stores/transactions/actions.ts
  frontend/src/bundles/common/stores/transactions/index.ts
  frontend/src/bundles/common/stores/transactions/slice.ts
  frontend/src/bundles/common/stores/transactions/transactions-api.ts
  frontend/src/bundles/common/stores/transactions/transactions.ts
  frontend/src/bundles/ui/components/transaction-table/transaction-table-part.tsx
  frontend/src/framework/store/store.package.ts
  shared/src/enums/content-type.enum.ts
Labels: frontend, development, shared, W4

#371 ss-330: fix calendar styles
  frontend/src/assets/css/variables/typography-variables.scss
  frontend/src/bundles/common/components/calendar/styles.module.scss
Labels: frontend, development

#369 ss-347: Connect delete user api to frontend
  backend/src/bundles/users/user.controller.ts
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/users/store/actions.ts
  frontend/src/bundles/users/store/slice.ts
  frontend/src/bundles/users/users-api.ts
Labels: frontend, backend, development

#375 ss-370: * migration add images
  backend/src/migrations/20230405072520_add_images.ts
Labels: bug, backend, development

#377 ss-374: Update landing page
  frontend/src/bundles/common/enums/menu-links.enum.ts
  frontend/src/bundles/landing/components/first-step-part/first-step-part.tsx
  frontend/src/bundles/landing/components/footer/components/components.ts
  frontend/src/bundles/landing/components/footer/components/footer-media-icons/footer-media-icons.tsx
  frontend/src/bundles/landing/components/footer/components/footer-media-icons/styles.module.scss
  frontend/src/bundles/landing/components/footer/footer.tsx
  frontend/src/bundles/landing/components/footer/styles.module.scss
  frontend/src/bundles/landing/components/second-step-part/components/line-chart-card/line-chart-card.tsx
  frontend/src/bundles/landing/components/second-step-part/components/line-chart-card/styles.module.scss
  frontend/src/index.tsx
Labels: bug, frontend, development

#376 ss-372: - google facebook icons
  frontend/src/bundles/auth/components/auth-wrapper/auth-wrapper.tsx
  frontend/src/bundles/auth/components/auth-wrapper/styles.module.scss
  frontend/src/bundles/common/helpers/get-text-to-path/get-text-to-path.ts
Labels: frontend, development, W4

#381 ss-373: bugs refreshes page
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/one-day-calendar/one-day-calendar.tsx
Labels: frontend, development, W4

#384 ss-379: fix sign up modal
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/components/modal/modal.tsx
Labels: bug, frontend, development

#386 ss-306: add UI for wallet settings page
  frontend/src/assets/img/dump-icon.svg
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/pages/wallet-settings/components/buttons-container/buttons-container.tsx
  frontend/src/bundles/common/pages/wallet-settings/components/buttons-container/styles.module.scss
  frontend/src/bundles/common/pages/wallet-settings/components/components.ts
  frontend/src/bundles/common/pages/wallet-settings/components/inputs-container/inputs-container.tsx
  frontend/src/bundles/common/pages/wallet-settings/components/inputs-container/styles.module.scss
  frontend/src/bundles/common/pages/wallet-settings/components/title/styles.module.scss
  frontend/src/bundles/common/pages/wallet-settings/components/title/title.tsx
  frontend/src/bundles/common/pages/wallet-settings/styles.module.scss
  frontend/src/bundles/common/pages/wallet-settings/wallet-settings.tsx
  frontend/src/index.tsx
Labels: frontend, development, W4

#387 ss-385: Update Account settings page
  frontend/src/bundles/account-settings/components/settings/styles.module.scss
  frontend/src/bundles/account-settings/components/settings/user-profile/avatar-container.tsx
Labels: frontend, development, W4

#388 ss-361: Refactor the field validation functionality in the modal window when creating and editing budgets
  frontend/src/bundles/common/helpers/compare-objects/compare-objects.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-modal/budget-modal.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/recurrence/recurrence.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/enums/enums.ts
  frontend/src/bundles/common/pages/budgets/budget-details/enums/recurrences.enum.ts
  frontend/src/bundles/common/pages/budgets/budget-details/types/reccurence.type.ts
  frontend/src/bundles/common/pages/budgets/budget-details/types/types.ts
Labels: frontend, development, W4

#397 ss-365: Connect dashboard elements to backend
  frontend/src/bundles/common/components/bar-chart/config-bar.ts
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/helpers/helpers.tsx
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: frontend, development, W4

#400 ss-319: Replace email on first and last name on header
  backend/src/bundles/users/user.repository.ts
  frontend/src/app/app.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/components/avatar-container.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/components/avatar.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/components/components.ts
  frontend/src/bundles/account-settings/components/settings/user-profile/components/currencies-render.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/components/date-render/date-render.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/components/date-render/styles.module.scss
  frontend/src/bundles/account-settings/components/settings/user-profile/components/delete-avatar-button.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/components/sex-dropdown.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/components/submit-button.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/components/upload-avatar-button.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/mock-data.ts
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/auth/auth-api.ts
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/index.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/calendar/components/one-day-calendar.tsx
  frontend/src/bundles/common/components/dropdown/components/dropdown.tsx
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/private-route/private-route.tsx
  frontend/src/bundles/common/components/public-route/public-route.tsx
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/common/pages/not-found/not-found.tsx
  frontend/src/bundles/users/store/actions.ts
  frontend/src/bundles/users/store/index.ts
  frontend/src/bundles/users/store/slice.ts
  frontend/src/bundles/users/users-api.ts
Labels: frontend, backend, development, W4

#401 ss-373: fix ButtonType
  frontend/src/bundles/common/components/calendar/components/one-day-calendar.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/one-day-calendar/one-day-calendar.tsx
Labels: frontend, development, W4

#403 ss-373: fix ButtonType
  frontend/src/bundles/common/components/calendar/components/one-day-calendar.tsx
Labels: bug, frontend, development, W4

#404 ss-368: Dashboard filters responsive layout fix
  frontend/src/bundles/common/pages/dashboard/styles.module.scss
Labels: bug, frontend, development, W4

#405 ss-393: Update tabs in the header on the wallet pages
  frontend/src/bundles/common/config/header-tabs.config.ts
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/ui/components/header-part/header-part.tsx
  frontend/src/bundles/ui/components/tabs-part/tabs-part.tsx
Labels: bug, frontend, development, W4

#406 ss-389: Burger menu position fixed
  frontend/src/bundles/common/components/menu/styles.module.scss
Labels: bug, frontend, development, W4

#408 ss-383: connect wallet settings page to backend
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
  frontend/src/bundles/common/pages/wallet-settings/components/buttons-container/buttons-container.tsx
  frontend/src/bundles/common/pages/wallet-settings/components/buttons-container/styles.module.scss
  frontend/src/bundles/common/pages/wallet-settings/components/components.ts
  frontend/src/bundles/common/pages/wallet-settings/components/form-container/form-container.tsx
  frontend/src/bundles/common/pages/wallet-settings/components/form-container/styles.module.scss
  frontend/src/bundles/common/pages/wallet-settings/components/inputs-container/inputs-container.tsx
  frontend/src/bundles/common/pages/wallet-settings/wallet-settings.tsx
  frontend/src/index.tsx
Labels: frontend, development, W4

#402 ss-390: [BUG] Overview section on the Dashboard page doesn't match the design
  frontend/src/bundles/common/pages/budgets/styles.module.scss
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/styles.module.scss
Labels: bug, frontend, development, W4

#231 ss-71: add categories settings page
  frontend/src/bundles/account-settings/account-settings.tsx
  frontend/src/bundles/common/components/button/styles.module.scss
  frontend/src/bundles/common/components/icon/icon.tsx
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/enums/fa-icons.enum.ts
  frontend/src/bundles/common/enums/icons-size.enum.ts
  frontend/src/bundles/common/icon-provider.ts
  frontend/src/bundles/common/pages/categories-settings/categories-settings.tsx
  frontend/src/bundles/common/pages/categories-settings/components/category-item/category-item.tsx
  frontend/src/bundles/common/pages/categories-settings/components/category-item/styles.module.scss
  frontend/src/bundles/common/pages/categories-settings/components/category-list/category-list.tsx
  frontend/src/bundles/common/pages/categories-settings/components/category-list/styles.module.scss
  frontend/src/bundles/common/pages/categories-settings/components/checkbox/checkbox.tsx
  frontend/src/bundles/common/pages/categories-settings/components/checkbox/styles.module.scss
  frontend/src/bundles/common/pages/categories-settings/components/dropdown-item/dropdown-item.tsx
  frontend/src/bundles/common/pages/categories-settings/components/dropdown-item/styles.module.scss
  frontend/src/bundles/common/pages/categories-settings/components/form-create-category/form-edit-category.tsx
  frontend/src/bundles/common/pages/categories-settings/components/form-create-category/form-ui.tsx
  frontend/src/bundles/common/pages/categories-settings/components/form-create-category/styles.module.scss
  frontend/src/bundles/common/pages/categories-settings/components/manage-categories/manage-categories.tsx
  frontend/src/bundles/common/pages/categories-settings/components/manage-categories/styles.module.scss
  frontend/src/bundles/common/pages/categories-settings/components/mock-for-dropdown/caregories-type.ts
  frontend/src/bundles/common/pages/categories-settings/components/mock-for-dropdown/icons-color.ts
  frontend/src/bundles/common/pages/categories-settings/components/mock-for-dropdown/icons-list.tsx
  frontend/src/bundles/common/pages/categories-settings/styles.module.scss
  frontend/src/bundles/common/stores/categories/slice.ts
  frontend/src/index.tsx
  package-lock.json
Labels: frontend, W1, development, root, W2

#407 ss-366: connect budget details page elements
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/doughnut-chart-card/doughnut-chart-card.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/doughnut-chart-card/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/helpers/gradient-doughnut.ts
  frontend/src/bundles/common/pages/budgets/budget-details/helpers/helpers.ts
Labels: frontend, development, W4

#416 ss-259: Add redirect to the Account settings page after registration
  frontend/src/bundles/account-settings/components/settings/user-profile.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/components/currencies-render.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/components/sex-dropdown.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/private-route/private-route.tsx
  frontend/src/bundles/common/helpers/compare-objects/compare-objects.ts
  frontend/src/bundles/users/store/slice.ts
Labels: frontend, development, W4

#422 ss-398: fix bar chart styles
  frontend/src/bundles/common/components/bar-chart/config-bar.ts
Labels: frontend, development

#421 ss-420: remove 404 route from App children's
  frontend/src/index.tsx
Labels: frontend, development, W4

#437 ss-436: * app routing
  frontend/src/bundles/account-settings/account-settings.tsx
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/index.tsx
Labels: bug, frontend, development

#443 ss-436: * private route
  frontend/src/bundles/common/components/private-route/private-route.tsx
Labels: bug, frontend, development, W4

#395 ss-327: add ability to create transaction
  frontend/src/bundles/common/components/calendar/styles.module.scss
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/components/transaction-modal/constants/constants.ts
  frontend/src/bundles/common/components/transaction-modal/styles.module.scss
  frontend/src/bundles/common/components/transaction-modal/transaction-image.tsx
  frontend/src/bundles/common/components/transaction-modal/transaction-modal-body.tsx
  frontend/src/bundles/common/components/transaction-modal/transaction-modal-element.tsx
  frontend/src/bundles/common/components/transaction-modal/transaction-modal.tsx
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/enums/fa-icons.enum.ts
  frontend/src/bundles/common/enums/transaction-modal-type.enum.ts
  frontend/src/bundles/common/icon-provider.ts
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/helpers/get-spent.helper.ts
  frontend/src/bundles/common/pages/budgets/budget-details/helpers/helpers.ts
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
  frontend/src/bundles/common/stores/transactions/actions.ts
  frontend/src/bundles/common/stores/transactions/index.ts
  frontend/src/bundles/common/stores/transactions/slice.ts
  frontend/src/bundles/common/stores/transactions/transactions-api.ts
  frontend/src/bundles/common/types/transaction.type.ts
  frontend/src/framework/store/store.package.ts
Labels: frontend, development, W4

#426 ss-415: Connect wallet with transactions
  backend/src/bundles/transactions/transaction.controller.ts
  backend/src/bundles/transactions/transaction.entity.ts
  backend/src/bundles/transactions/transaction.model.ts
  backend/src/bundles/transactions/transaction.repository.ts
  backend/src/bundles/transactions/transaction.service.ts
  backend/src/bundles/wallets-transactions/types/types.ts
  backend/src/bundles/wallets-transactions/wallets-transactions.entity.ts
  backend/src/bundles/wallets-transactions/wallets-transactions.model.ts
  backend/src/bundles/wallets-transactions/wallets-transactions.repository.ts
  backend/src/bundles/wallets-transactions/wallets-transactions.service.ts
  backend/src/bundles/wallets-transactions/wallets-transactions.ts
  backend/src/bundles/wallets/wallets.controller.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/migrations/20230410083447_wallets_transactions.ts
  backend/src/migrations/20230410090825_update_transactions_table.ts
  shared/src/bundles/transactions/types/transaction-create-request-dto.type.ts
  shared/src/bundles/transactions/validation-schemas/transaction-create-validation-schema.ts
Labels: backend, development, shared, W4

#439 ss-427: Add wallet id to request payload when create a new transaction
  backend/src/bundles/transactions/transaction.entity.ts
  frontend/src/bundles/common/components/transaction-modal/constants/constants.ts
  frontend/src/bundles/common/components/transaction-modal/transaction-modal-body.tsx
  frontend/src/bundles/common/components/transaction-modal/transaction-modal.tsx
  frontend/src/bundles/common/components/transanction-table/components/future-transactions/future-transactions.tsx
  frontend/src/bundles/common/components/transanction-table/components/past-transactions/past-transactions.tsx
  frontend/src/bundles/common/components/transanction-table/components/transaction/transaction.tsx
  frontend/src/bundles/common/components/transanction-table/helpers/get-daily-totals.helper.ts
  frontend/src/bundles/common/components/transanction-table/helpers/get-days-left.helper.ts
  frontend/src/bundles/common/components/transanction-table/helpers/get-default-values.helper.ts
  frontend/src/bundles/common/components/transanction-table/helpers/get-future-totals.helper.ts
  frontend/src/bundles/common/components/transanction-table/helpers/get-future-transactions.helper.ts
  frontend/src/bundles/common/components/transanction-table/helpers/get-past-transactions.helper.ts
  frontend/src/bundles/common/components/transanction-table/helpers/group-transactions-by-date.helper.ts
  frontend/src/bundles/common/components/transanction-table/transaction-table.tsx
  frontend/src/bundles/common/components/transanction-table/types/index.ts
  frontend/src/bundles/common/components/transanction-table/types/transaction.type.ts
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
  frontend/src/bundles/common/types/transaction.type.ts
  frontend/src/bundles/ui/components/transaction-table/transaction-table-part.tsx
  frontend/src/bundles/wallets/store/actions.ts
  frontend/src/bundles/wallets/store/slice.ts
  frontend/src/bundles/wallets/wallets-api.ts
  shared/src/bundles/transactions/types/transaction-get-all-item-response-dto.type.ts
Labels: frontend, backend, development, shared, W4

#419 ss-412: Add install app button on landing page
  frontend/src/assets/img/install-app.svg
  frontend/src/bundles/common/enums/menu-links.enum.ts
  frontend/src/bundles/landing/components/first-step-part/styles.module.scss
  frontend/src/bundles/landing/components/highlight-banner/components/store-button/store-button.tsx
  frontend/src/bundles/landing/components/highlight-banner/components/store-button/styles.module.scss
  frontend/src/bundles/landing/components/highlight-banner/highlight-banner.tsx
Labels: frontend, development, W4

#461 ss-425: [BUG] Budget details page is not rendering
  frontend/src/bundles/account-settings/account-settings.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: bug, frontend, development, W5

#423 ss-127: Finish UI for transactions
  frontend/src/assets/img/camera-icon.svg
  frontend/src/bundles/account-settings/account-settings.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/file-input/file-input.tsx
  frontend/src/bundles/common/components/transaction-modal/constants/constants.ts
  frontend/src/bundles/common/components/transaction-modal/styles.module.scss
  frontend/src/bundles/common/components/transaction-modal/transaction-image.tsx
  frontend/src/bundles/common/components/transaction-modal/transaction-modal-body.tsx
  frontend/src/bundles/common/components/transaction-modal/transaction-modal-element.tsx
  frontend/src/bundles/common/components/transaction-modal/transaction-modal.tsx
  frontend/src/bundles/common/enums/input-type.enum.ts
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: frontend, development, W4

#471 ss-430: connect categories settings page to backend
  frontend/src/bundles/common/pages/categories-settings/categories-settings.tsx
  frontend/src/bundles/common/pages/categories-settings/components/category-item/category-item.tsx
  frontend/src/bundles/common/pages/categories-settings/components/checkbox/checkbox.tsx
  frontend/src/bundles/common/pages/categories-settings/components/checkbox/styles.module.scss
  frontend/src/bundles/common/pages/categories-settings/components/form-category/form-category.tsx
  frontend/src/bundles/common/pages/categories-settings/components/form-category/form-ui-stub.tsx
  frontend/src/bundles/common/pages/categories-settings/components/form-category/styles.module.scss
  frontend/src/bundles/common/pages/categories-settings/components/mock-for-dropdown/caregories-type.ts
  frontend/src/bundles/common/stores/categories/actions.ts
  frontend/src/bundles/common/stores/categories/categories-api.ts
  frontend/src/bundles/common/stores/categories/categories.ts
  frontend/src/bundles/common/stores/categories/index.ts
  frontend/src/bundles/common/stores/categories/slice.ts
  frontend/src/bundles/common/stores/categories/types/types.ts
Labels: frontend, development, W5

#477 ss-470: Remove Import button on Wallet details page
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: frontend, development, W5

#480 ss-463: - button Merge Categories and * button Delete in the modal
  frontend/src/bundles/common/pages/categories-settings/categories-settings.tsx
  frontend/src/bundles/common/pages/categories-settings/components/category-item/category-item.tsx
  frontend/src/bundles/common/pages/categories-settings/components/category-item/styles.module.scss
  frontend/src/bundles/common/pages/categories-settings/components/manage-categories/manage-categories.tsx
Labels: frontend, development, W5

#479 ss-452: Change the currency enum in the budget table
  backend/src/migrations/20230411114122_update_budget_currency_enum.ts
Labels: backend, development, W5

#492 ss-458: + modal to delete wallet
  frontend/src/bundles/common/pages/wallet-settings/components/form-container/form-container.tsx
  frontend/src/bundles/common/pages/wallet-settings/components/form-container/styles.module.scss
Labels: frontend, development, W5

#490 ss-481: [BUG] All transactions are created with today's date
  frontend/src/bundles/common/components/calendar/calendar.tsx
  frontend/src/bundles/common/components/calendar/components/one-day-calendar.tsx
  frontend/src/bundles/common/components/transaction-modal/styles.module.scss
  frontend/src/bundles/common/components/transaction-modal/transaction-modal-body.tsx
  frontend/src/bundles/common/components/transanction-table/components/future-transactions/future-transactions.tsx
  frontend/src/bundles/common/components/transanction-table/components/past-transactions/past-transactions.tsx
  frontend/src/bundles/common/components/transanction-table/transaction-table.tsx
Labels: bug, frontend, development, W5

#499 ss-460: * make note in creating transaction optional
  backend/src/bundles/transactions/transaction.entity.ts
  frontend/src/bundles/common/components/transaction-modal/constants/constants.ts
  frontend/src/bundles/common/types/transaction.type.ts
  shared/src/bundles/transactions/types/transaction-create-request-dto.type.ts
  shared/src/bundles/transactions/types/transaction-get-all-item-response-dto.type.ts
  shared/src/bundles/transactions/types/transaction-update-dto.type.ts
  shared/src/bundles/transactions/validation-schemas/transaction-create-validation-schema.ts
Labels: frontend, backend, development, shared, W5

#486 ss-469: Add modal to edit and delete transaction
  frontend/src/bundles/common/components/transaction-modal/transaction-modal.tsx
  frontend/src/bundles/common/components/transanction-table/components/styles.module.scss
  frontend/src/bundles/common/components/transanction-table/components/transaction/transaction.tsx
  frontend/src/bundles/common/stores/transactions/actions.ts
  frontend/src/bundles/common/stores/transactions/transactions-api.ts
Labels: frontend, development

#468 ss-444: [BUG] After reloading any page the Account setting page is opened
  frontend/src/bundles/account-settings/components/settings/user-profile.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/common/components/private-route/private-route.tsx
  frontend/src/bundles/users/store/slice.ts
  frontend/src/framework/storage/enums/storage-key.enum.ts
Labels: bug, frontend, development, W5

#506 ss-474: Connect Wallet details page elements with backend
  frontend/src/bundles/common/helpers/get-max-min-transaction-amount/get-max-min-transaction-amount.helper.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/wallet-details/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: frontend, development, W5

#500 ss-484: + image table structure
  backend/src/bundles/budgets/budgets.model.ts
  backend/src/bundles/images/images.entity.ts
  backend/src/bundles/images/images.model.ts
  backend/src/bundles/images/images.repository.ts
  backend/src/bundles/images/images.ts
  backend/src/bundles/users/user-profile.model.ts
  backend/src/bundles/users/user.entity.ts
  backend/src/migrations/20230411140512_add_images_tables.ts
  backend/src/migrations/20230411141911_update_user_profile.ts
Labels: backend, development, W5

#528 ss-466: update account currency
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/common/components/modal-add-wallet/modal-add-wallet.tsx
  frontend/src/bundles/common/components/modal-add-wallet/styles.module.scss
  frontend/src/bundles/common/components/transaction-modal/styles.module.scss
  frontend/src/bundles/common/components/transaction-modal/transaction-modal-body.tsx
  frontend/src/bundles/common/components/transaction-modal/transaction-modal.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-modal/budget-modal.tsx
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/stores/transactions/transactions-api.ts
Labels: frontend, development

#530 ss-508: Upgate categories and transactions tabels and fix redirect
  frontend/src/bundles/common/components/header-user-button/header-user-button.tsx
  frontend/src/bundles/common/components/transanction-table/components/past-transactions/past-transactions.tsx
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/helpers/transaction-count-by-category/transaction-count-by-category.helper.ts
  frontend/src/bundles/common/pages/categories-settings/categories-settings.tsx
  frontend/src/bundles/common/pages/categories-settings/components/category-item/category-item.tsx
  frontend/src/bundles/common/pages/categories-settings/components/category-list/category-list.tsx
  shared/src/bundles/transactions/types/transaction-get-all-item-response-dto.type.ts
Labels: frontend, development, shared, W5

#523 ss-519: My wallet card on Dashboard must show current amount of money
  frontend/src/bundles/common/components/modal-add-wallet/modal-add-wallet.tsx
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/helpers/helpers.tsx
Labels: frontend, development, W5

#505 ss-366: connect budget details page elements
  frontend/src/bundles/common/components/doughnut-chart/doughnut-chart.tsx
  frontend/src/bundles/common/components/loader/styles.module.scss
  frontend/src/bundles/common/enums/fa-icons.enum.ts
  frontend/src/bundles/common/icon-provider.ts
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/doughnut-chart-card/doughnut-chart-card.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/doughnut-chart-card/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/helpers/calculate-budget-details.helper.ts
  frontend/src/bundles/common/pages/budgets/budget-details/helpers/gradient-doughnut.ts
  frontend/src/bundles/common/pages/budgets/budget-details/styles.module.scss
Labels: frontend, development, W5

#551 ss-538: * [DAG]fix style
  frontend/src/bundles/common/components/transanction-table/components/transaction/transaction.tsx
Labels: bug, frontend, development, W5

#518 ss-509: * refactor modal to confirm deletion
  frontend/src/bundles/account-settings/components/settings/user-profile/components/user-delete-modal/styles.module.scss
  frontend/src/bundles/account-settings/components/settings/user-profile/components/user-delete-modal/user-delete-modal.tsx
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/styles.module.scss
  frontend/src/bundles/common/pages/wallet-settings/components/form-container/form-container.tsx
  frontend/src/bundles/common/pages/wallet-settings/components/form-container/styles.module.scss
Labels: bug, frontend, development, W5

#521 ss-515: * refactor cards on budget details page to color cards
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/components.ts
  frontend/src/bundles/common/pages/budgets/budget-details/components/info-card/info-card.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/info-card/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/enums/info-card-types.enum.ts
Labels: frontend, development, W5

#510 ss-498: [BUG] Buttons aren't aligned on the Edit Budget modal
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-modal/styles.module.scss
Labels: bug, frontend, development, W5

#520 ss-491: [BUG] User can update Wallet settings with empty fields
  frontend/src/bundles/common/pages/wallet-settings/components/form-container/form-container.tsx
Labels: bug, frontend, development, W5

#558 ss-547: Increase the size of Budget title on the Budget details page
  frontend/src/bundles/common/pages/budgets/budget-details/styles.module.scss
Labels: frontend, development, W5

#557 ss-554: * [BAG]fix style
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: bug, frontend, development, W5

#560 ss-482: + delete many categories
  frontend/src/bundles/common/helpers/get-sorted-categories/get-sorted-categories.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/pages/categories-settings/categories-settings.tsx
  frontend/src/bundles/common/pages/categories-settings/components/manage-categories/manage-categories.tsx
  frontend/src/bundles/common/pages/future-transactions/future-transactions-page.tsx
  frontend/src/bundles/common/pages/future-transactions/styles.module.scss
  frontend/src/bundles/common/stores/categories/actions.ts
  frontend/src/bundles/common/stores/categories/categories-api.ts
  frontend/src/bundles/common/stores/categories/index.ts
  frontend/src/bundles/common/stores/categories/slice.ts
  frontend/src/index.tsx
Labels: frontend, development, W5

#561 ss-516: Add percentage to Budget progress bar
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-progress-bar/budget-progress-bar.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-progress-bar/styles.module.scss
Labels: frontend, development, W5

#556 ss-511: * change Logout to Log Out
  frontend/src/bundles/common/components/header-user-button/header-user-button.tsx
Labels: frontend, development, W5

#534 ss-522: fix empty transaction
  frontend/src/bundles/common/components/transaction-modal/transaction-modal.tsx
Labels: bug, frontend, development, W5

#555 ss-533: Add loader components on pages
  frontend/src/bundles/account-settings/components/settings/styles.module.scss
  frontend/src/bundles/account-settings/components/settings/user-profile.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/components/header-user-button/header-user-button.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budgets.tsx
  frontend/src/bundles/common/pages/budgets/styles.module.scss
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: frontend, development, W5

#434 ss-417: add placeholder for budget details page
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
Labels: frontend, development, W4

#553 ss-513: - delete currency in wallet settings
  frontend/src/bundles/common/pages/wallet-settings/components/form-container/form-container.tsx
  frontend/src/bundles/common/pages/wallet-settings/components/form-container/styles.module.scss
  frontend/src/bundles/common/pages/wallet-settings/styles.module.scss
  frontend/src/bundles/common/pages/wallet-settings/wallet-settings.tsx
Labels: frontend, development, W5

#559 ss-495: - mock data
  frontend/src/bundles/common/components/budget-card/budget-card.tsx
Labels: frontend, development, W5

#529 ss-512: Remove reloading page while clicking "Subscribe" on Landing page
  frontend/src/bundles/landing/components/subscription-part/subscription-part.tsx
Labels: frontend, development, W5

#562 ss-541: Update "Create new Budget" modal
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-modal/budget-modal.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-modal/styles.module.scss
Labels: frontend, development, W5

#584 ss-531: Update Wallet Transactions page
  frontend/src/bundles/common/components/budget-card/budget-card.tsx
  frontend/src/bundles/common/components/range-slider/styles.module.scss
  frontend/src/bundles/common/helpers/get-max-min-transaction-amount/get-max-min-transaction-amount.helper.ts
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/styles.module.scss
  frontend/src/bundles/common/pages/future-transactions/future-transactions-page.tsx
  frontend/src/bundles/common/pages/future-transactions/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: frontend, development, W5

#573 ss-571: rewrite text in step 1 on landing
  frontend/src/bundles/landing/components/first-step-part/first-step-part.tsx
Labels: frontend, development, W5

#575 ss-544: * [BAG] icons to the drop-down
  frontend/src/bundles/common/pages/budgets/budget-details/components/multi-dropdown/multi-dropdown.tsx
Labels: bug, frontend, development, W5

#585 ss-581: add placeholder for charts in budget details page
  frontend/src/bundles/common/components/icon/icon.tsx
  frontend/src/bundles/common/components/placeholder/placeholder.tsx
  frontend/src/bundles/common/enums/fa-icons.enum.ts
  frontend/src/bundles/common/enums/icons-size.enum.ts
  frontend/src/bundles/common/icon-provider.ts
  frontend/src/bundles/common/pages/budgets/budget-details/components/doughnut-chart-card/doughnut-chart-card.tsx
  frontend/src/bundles/common/pages/categories-settings/categories-settings.tsx
Labels: frontend, development, W5

#501 ss-428: Update filter on dashboard page find by wallet with wallet
  frontend/src/bundles/common/components/transaction-modal/constants/constants.ts
  frontend/src/bundles/common/components/transaction-modal/transaction-modal-body.tsx
  frontend/src/bundles/common/components/transaction-modal/transaction-modal.tsx
  frontend/src/bundles/common/components/transanction-table/components/transaction/transaction.tsx
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/helpers/helpers.tsx
  frontend/src/bundles/common/pages/dashboard/styles.module.scss
Labels: frontend, development, W5

#576 ss-543: update currency
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/budgets/budgets.tsx
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: frontend, development

#593 ss-513: * make buttons smaller in wallet and user settings
  frontend/src/bundles/account-settings/components/settings/styles.module.scss
  frontend/src/bundles/account-settings/components/settings/user-profile/components/components.ts
  frontend/src/bundles/account-settings/components/settings/user-profile/components/submit-button.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/common/pages/wallet-settings/components/form-container/form-container.tsx
  frontend/src/bundles/common/pages/wallet-settings/components/form-container/styles.module.scss
Labels: bug, frontend, development, W5

#577 ss-572: [BUG] Responsive layout on "Create/Edit budget" modal window doesn't behave as expected
  frontend/src/bundles/common/config/header-tabs.config.ts
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-modal/styles.module.scss
Labels: bug, frontend, development, W5

#590 ss-552: [BUG] A plus before the amount is displayed on the "Total Period Expenses" cards
  frontend/src/bundles/common/components/card-total/card-total.tsx
Labels: bug, frontend, development, W5

#588 ss-570: Align the buttons on the create and edit budget modals
  frontend/src/assets/css/scaffolding.scss
  frontend/src/bundles/common/components/header-user-button/styles.module.scss
  frontend/src/bundles/common/components/header/styles.module.scss
  frontend/src/bundles/common/components/modal/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-modal/budget-modal.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/components/budget-modal/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/styles.module.scss
  frontend/src/bundles/common/pages/budgets/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/styles.module.scss
Labels: frontend, development, W5

#602 ss-599: - remove tabs in wallet settings
  frontend/src/bundles/common/pages/wallet-settings/wallet-settings.tsx
Labels: frontend, development, W5

#604 ss-601: Create transaction if only one category block dropdown
  frontend/src/bundles/common/components/dropdown/components/dropdown.tsx
  frontend/src/bundles/common/components/transaction-modal/transaction-modal-body.tsx
Labels: bug, frontend, development, W5

#613 ss-605: The Total Wallet Balance is calculated incorrectly
  frontend/src/bundles/common/components/budget-card/budget-card.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/helpers/calculate-budget-details.helper.ts
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: bug, frontend, development, W5

#612 ss-607: fixed styles in cards and in budgets
  frontend/src/assets/css/scaffolding.scss
Labels: bug, frontend, development

#611 ss-594: + modal to confirm transaction deletion and refactor modal to confirm categories deletion
  frontend/src/bundles/common/components/transaction-modal/styles.module.scss
  frontend/src/bundles/common/components/transaction-modal/transaction-modal.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/styles.module.scss
  frontend/src/bundles/common/pages/categories-settings/components/manage-categories/manage-categories.tsx
  frontend/src/bundles/common/pages/categories-settings/components/manage-categories/styles.module.scss
Labels: frontend, development, W5

#614 ss-517: Add footer menu to Account settings
  frontend/src/bundles/account-settings/account-settings.tsx
  frontend/src/bundles/account-settings/styles.module.scss
  frontend/src/bundles/common/components/user-settings-tabs/components/user-settings-tab/user-settings-tab.tsx
  frontend/src/bundles/common/components/user-settings-tabs/styles.module.scss
  frontend/src/bundles/common/components/user-settings-tabs/user-settings-tabs.tsx
Labels: frontend, development, W5

#616 ss-542: + note to transaction table
  frontend/src/bundles/common/components/transanction-table/components/styles.module.scss
  frontend/src/bundles/common/components/transanction-table/components/transaction/transaction.tsx
Labels: frontend, development, W5

#595 ss-582: * fix placeholder after reset
  frontend/src/bundles/common/components/dropdown/components/dropdown.tsx
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
Labels: bug, frontend, development, W5

#620 ss-603: FIX icons in categories dropdown
  frontend/src/bundles/common/components/dropdown/components/dropdown.tsx
  frontend/src/bundles/common/components/transaction-modal/styles.module.scss
  frontend/src/bundles/common/components/transaction-modal/transaction-modal-body.tsx
Labels: bug, frontend, development, W5

#632 ss-433: * fix style
  frontend/src/bundles/common/pages/categories-settings/categories-settings.tsx
  frontend/src/bundles/common/pages/categories-settings/components/category-list/styles.module.scss
  frontend/src/bundles/common/pages/categories-settings/components/form-category/form-category.tsx
  frontend/src/bundles/common/pages/categories-settings/components/form-category/styles.module.scss
  frontend/src/bundles/common/pages/categories-settings/styles.module.scss
Labels: bug, frontend, development, W5

#630 ss-431: * fix style
  frontend/src/bundles/common/pages/categories-settings/components/category-item/styles.module.scss
  frontend/src/bundles/common/pages/categories-settings/styles.module.scss
Labels: bug, frontend, development, W5

#624 ss-574: User is able to create zero transaction
  frontend/src/bundles/common/components/transaction-modal/transaction-modal-body.tsx
Labels: bug, frontend, development, W5

#639 ss-636: On Dashbord not found id
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
Labels: bug, frontend, development, W5

#619 ss-615: * refactor modal to delete several transaction and refactor modal to delete one category
  frontend/src/bundles/common/components/transaction-modal/transaction-modal.tsx
  frontend/src/bundles/common/pages/categories-settings/components/category-item/category-item.tsx
  frontend/src/bundles/common/pages/categories-settings/components/category-item/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: frontend, development, W5

#627 ss-626: Account settings small screen z-index fix
  frontend/src/bundles/account-settings/styles.module.scss
Labels: bug, frontend, development, W5

#640 ss-608: - uneccesary condition
  frontend/src/bundles/common/pages/budgets/budget-details/components/doughnut-chart-card/doughnut-chart-card.tsx
Labels: frontend, development

#623 ss-589: popup on update
  frontend/src/bundles/account-settings/components/settings/user-profile/components/currencies-render.tsx
  frontend/src/bundles/account-settings/components/settings/user-profile/components/sex-dropdown.tsx
  frontend/src/bundles/common/components/dropdown/components/dropdown.tsx
  frontend/src/bundles/users/store/actions.ts
Labels: frontend, development, W5

#625 ss-609: The Money left is calculated incorrectly on the Budget details page
  frontend/src/bundles/common/components/budget-card/budget-card.tsx
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
Labels: bug, frontend, development, W5

#634 ss-606: * fix amount render Infinity
  frontend/src/bundles/common/components/range-slider/range-slider.tsx
Labels: bug, frontend, development, W5

#617 ss-610: + document titles
  frontend/src/bundles/account-settings/account-settings.tsx
  frontend/src/bundles/common/enums/app-document-titles.enum.ts
  frontend/src/bundles/common/hooks/use-app-document-title/use-app-document-title.ts
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/budgets/budgets.tsx
  frontend/src/bundles/common/pages/categories-settings/categories-settings.tsx
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
  frontend/src/bundles/common/pages/wallet-settings/wallet-settings.tsx
Labels: frontend, development

#641 ss-637: On Dashbord not found id
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/helpers/helpers.tsx
Labels: bug, frontend, development, W5

#631 ss-514: * fix style
  frontend/src/bundles/common/components/calendar/styles.module.scss
  frontend/src/bundles/common/components/transaction-modal/styles.module.scss
  frontend/src/bundles/common/components/transaction-modal/transaction-modal-body.tsx
  frontend/src/bundles/common/components/transaction-modal/transaction-modal.tsx
Labels: bug, frontend, development, W5

#644 ss-489: * validation rules for transaction
  shared/src/bundles/transactions/validation-schemas/transaction-create-validation-schema.ts
Labels: development, shared, W5

#653 ss-651: Fix use effects
  frontend/src/bundles/common/components/transaction-modal/transaction-modal.tsx
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: bug, frontend, development, W5

#643 ss-633: Change "operation" to "transactions" on the categories table
  frontend/src/bundles/account-settings/styles.module.scss
  frontend/src/bundles/common/components/transanction-table/components/future-transactions/future-transactions.tsx
  frontend/src/bundles/common/components/transanction-table/components/styles.module.scss
  frontend/src/bundles/common/pages/budgets/budget-details/budget-details.tsx
  frontend/src/bundles/common/pages/categories-settings/components/category-item/category-item.tsx
  frontend/src/bundles/common/pages/categories-settings/components/manage-categories/manage-categories.tsx
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/future-transactions/future-transactions-page.tsx
Labels: frontend, development, W5

#628 ss-537: Remove cards from future transaction page
  frontend/src/bundles/common/pages/future-transactions/future-transactions-page.tsx
Labels: frontend, development, W5
