Repository BinaryStudioAcademy/bsa-winter-2022-2023-smartspend, pull requests merged in 2023-03, with the labels that each got.

#30 ss-29: Add classname dependency
  frontend/package.json
  package-lock.json
Labels: frontend, W1, development, root

#26 ss-3: add base page
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/index.tsx
Labels: frontend, W1, development

#24 ss-2: common styles
  frontend/src/assets/css/breakpoint-variables.css
  frontend/src/assets/css/color-variables.css
  frontend/src/assets/css/margin-variables.css
  frontend/src/assets/css/padding-variables.css
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/typography-variables.css
  frontend/src/assets/css/variables.css
Labels: frontend, W1, development

#31 ss-8: add encrypt service
  backend/package.json
  backend/src/bundles/users/user.service.ts
  backend/src/common/constants/constants.ts
  backend/src/common/constants/user.constants.ts
  backend/src/common/services/crypt/crypt.service.ts
  backend/src/common/services/services.ts
Labels: backend, W1, development

#22 ss-1: PWA
  .gitignore
  frontend/index.html
  frontend/package.json
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/browserconfig.xml
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/mstile-150x150.png
  frontend/public/robots.txt
  frontend/public/safari-pinned-tab.svg
  frontend/public/site.webmanifest
  frontend/src/virtual-pwa-register-react.d.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  package-lock.json
Labels: frontend, W1, development, root

#34 ss-17: Add middleware and global error handling
  frontend/package.json
  frontend/src/app/app.tsx
  frontend/src/bundles/common/components/error-boundary/error-boundary.tsx
  frontend/src/bundles/common/components/toast/toast.tsx
  frontend/src/bundles/common/enums/notification-type.enum.ts
  frontend/src/framework/store/middlewares/handle-error.middleware.ts
  frontend/src/framework/store/store.package.ts
  frontend/src/index.tsx
  frontend/src/services/notification/notification.service.ts
  package-lock.json
Labels: frontend, W1, development, root

#47 ss-44: Import css variables to styles.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables/breakpoint-variables.css
  frontend/src/assets/css/variables/color-variables.css
  frontend/src/assets/css/variables/margin-variables.css
  frontend/src/assets/css/variables/padding-variables.css
  frontend/src/assets/css/variables/typography-variables.css
  frontend/src/assets/css/variables/variables.css
Labels: frontend, W1, development

#20 ss-13: Public and Private routing
  frontend/src/app/app.tsx
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/privat-route/privat-route.tsx
  frontend/src/bundles/common/components/public-route/public-route.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/pages/dashboard.tsx
  frontend/src/index.tsx
Labels: frontend, W1, development

#21 ss-5: Add BaseButton component
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/button/styles.module.scss
  frontend/src/bundles/common/enums/button-size.enum.ts
  frontend/src/bundles/common/enums/button-type.enum.ts
  frontend/src/bundles/common/enums/button-variant.enum.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/pages/base.tsx
Labels: frontend, W1, development

#50 ss-49: refactor error handle
  .gitignore
  frontend/src/app/app.tsx
  frontend/src/bundles/common/components/error-boundary/error-boundary.tsx
  frontend/src/framework/store/middlewares/handle-error.middleware.ts
  frontend/src/framework/store/middlewares/middlewares.ts
  frontend/src/framework/store/store.package.ts
Labels: frontend, W1, development

#48 ss-27: Add sign in
  backend/.env.example
  backend/package.json
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/auth/auth.service.ts
  backend/src/bundles/auth/auth.ts
  backend/src/bundles/users/types/types.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/user.service.ts
  backend/src/bundles/users/users.ts
  backend/src/bundles/users/validation-schemas/validation-schemas.ts
  backend/src/common/config/config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/enums/enums.ts
  backend/src/common/exceptions/exceptions.ts
  backend/src/common/interfaces/repository.interface.ts
  backend/src/common/interfaces/service.interface.ts
  backend/src/common/server-application/server-app.ts
  backend/src/common/services/services.ts
  backend/src/common/services/token/token.service.ts
  shared/src/bundles/auth/enums/auth-api-path.enum.ts
  shared/src/bundles/users/types/types.ts
  shared/src/bundles/users/types/user-sign-in-request-dto.type.ts
  shared/src/bundles/users/types/user-sign-in-response-dto.type.ts
  shared/src/bundles/users/users.ts
  shared/src/bundles/users/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/bundles/users/validation-schemas/validation-schemas.ts
  shared/src/enums/enums.ts
  shared/src/enums/exception-message.enum.ts
  shared/src/framework/http/enums/http-code.enum.ts
  shared/src/index.ts
Labels: backend, ENV, development, shared

#59 ss-55: Variables should be scss file format
  .stylelintrc.yml
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables/breakpoint-variables.scss
  frontend/src/assets/css/variables/color-variables.css
  frontend/src/assets/css/variables/color-variables.scss
  frontend/src/assets/css/variables/margin-variables.scss
  frontend/src/assets/css/variables/padding-variables.scss
  frontend/src/assets/css/variables/typography-variables.scss
  frontend/src/assets/css/variables/variables.css
  frontend/src/assets/css/variables/variables.scss
Labels: frontend, W1, development

#64 ss-63: + bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
  .ls-lint.yml
Labels: W1, development, workflows

#54 ss-52: add reinstall command
  package.json
Labels: W1, development, root

#38 ss-10: Add Line Chart
  .ls-lint.yml
  frontend/package.json
  frontend/src/bundles/common/components/charts/line-chart/constants/constants.ts
  frontend/src/bundles/common/components/charts/line-chart/line-chart.tsx
  frontend/src/bundles/common/components/charts/line-chart/options.ts
  frontend/src/bundles/common/components/charts/line-chart/styles.module.scss
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/helpers/chart-helper.ts
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/common/types/chart-data.type.ts
  package-lock.json
Labels: frontend, W1, development, root

#35 ss-14: Add Base Migrations
  backend/src/migrations/20230317081146_add_initial_structure.ts
Labels: backend, W1, development

#46 ss-6: Create input components
  frontend/src/bundles/common/components/input/app-input.tsx
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/input/styles.module.scss
  frontend/src/bundles/common/pages/base.tsx
Labels: frontend, development

#52 ss-43: Add cards
  frontend/package.json
  frontend/src/assets/css/variables/border-radius-variables.scss
  frontend/src/assets/css/variables/variables.scss
  frontend/src/bundles/common/components/card-total/card-total.tsx
  frontend/src/bundles/common/components/card-total/styles.module.scss
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/enums/card-variant-style-map.ts
  frontend/src/bundles/common/enums/card-variant.enum.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/pages/base.tsx
Labels: frontend, W1, development

#32 ss-11: Add Bar Chart
  frontend/package.json
  frontend/src/app/app.tsx
  frontend/src/bundles/common/components/bar-chart/bar-chart.tsx
  frontend/src/bundles/common/components/bar-chart/bar.module.scss
  frontend/src/bundles/common/components/bar-chart/config-bar.ts
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/enums/bar-color.enum.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/helpers/date-to-short-string/date-to-short-string.helper.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/helpers/number-to-string-currency/number-to-string-currency.helper.ts
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/common/types/config-bar.type.ts
  frontend/src/bundles/common/types/types.ts
  package-lock.json
Labels: frontend, W1, development, root

#87 ss-5: Fix Buttons border-radius
  frontend/src/bundles/common/components/button/styles.module.scss
Labels: bug, frontend, development

#65 ss-41: Add dashboard page scaffold
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/common/pages/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/styles.module.scss
  frontend/src/index.tsx
Labels: frontend, W1, development

#61 ss-28: * validation sign-up
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/auth/auth.service.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/user.service.ts
  backend/src/common/interfaces/service.interface.ts
  frontend/src/bundles/auth/components/sign-up-form/constants/constants.ts
  frontend/src/bundles/auth/store/slice.ts
  package-lock.json
  shared/src/bundles/users/types/user-sign-up-request-dto.type.ts
  shared/src/bundles/users/types/user-sign-up-response-dto.type.ts
  shared/src/bundles/users/validation-schemas/user-sign-up.validation-schema.ts
  shared/src/enums/exception-message.enum.ts
Labels: frontend, backend, W1, development, root, shared

#72 ss-62: Update AUTH page styles
  frontend/src/assets/css/variables/color-variables.scss
  frontend/src/assets/css/variables/margin-variables.scss
  frontend/src/assets/css/variables/padding-variables.scss
  frontend/src/assets/img/facebook-icon.svg
  frontend/src/assets/img/google-icon.svg
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/pages/styles.module.scss
  frontend/src/bundles/common/helpers/get-text-to-path/get-text-to-path.ts
  frontend/src/bundles/common/helpers/helpers.ts
Labels: frontend, W1, development

#78 ss-40: Add wallet details page
  frontend/package.json
  frontend/src/app/app.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/pages/wallet-details/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
  frontend/src/index.tsx
  package-lock.json
  package.json
Labels: frontend, W1, development, root

#76 ss-69: Add Tabs For User Settings Page
  frontend/src/assets/css/variables/color-variables.scss
  frontend/src/bundles/common/components/user-settings-tabs/styles.module.scss
  frontend/src/bundles/common/components/user-settings-tabs/user-settings-tab.tsx
  frontend/src/bundles/common/components/user-settings-tabs/user-settings-tabs.tsx
  frontend/src/bundles/common/pages/base.tsx
  package-lock.json
Labels: frontend, W1, development, root

#94 ss-93: fix swagger doc
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/common/server-application/server-app-api.ts
Labels: bug, backend, development

#100 ss-99: enabled cors
  backend/package.json
  backend/src/common/server-application/server-app.ts
  package-lock.json
Labels: backend, development, root

#97 ss-96: Wrong application name on landing page
  frontend/src/bundles/landing/components/first-step-part/first-step-part.tsx
  frontend/src/bundles/landing/components/second-step-part/second-step-part.tsx
  frontend/src/bundles/landing/landing.tsx
Labels: bug, frontend, development

#19 ss-7: Add Base Modal
  frontend/src/assets/css/variables/color-variables.css
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/components/modal/styles.module.scss
  frontend/src/bundles/common/components/portal/portal.tsx
  frontend/src/bundles/common/components/portal/styles.module.scss
  frontend/src/bundles/common/pages/base.tsx
  package-lock.json
  package.json
Labels: frontend, W1, development, root

#84 ss-14: Add Extension For Auto-generation Id Keys In DB
  backend/src/migrations/20230321082625_add_autogenerate_id_extension.ts
Labels: backend, W1, development

#101 ss-7: removed unnecessary dependencies
  package.json
Labels: bug, development, root, W2

#116 ss-66: Fix database config:
  backend/src/common/database/abstract.model.ts
  backend/src/common/database/database.package.ts
Labels: bug, backend, development, W2

#112 ss-111: Fix duplicates in style files
  frontend/src/assets/css/variables/color-variables.css
Labels: bug, frontend, development

#91 ss-51: add jwt
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/auth/auth.service.ts
  backend/src/bundles/users/types/types.ts
  backend/src/bundles/users/user.entity.ts
  backend/src/bundles/users/user.service.ts
  backend/src/bundles/users/users.ts
  backend/src/common/database/abstract.model.ts
  frontend/src/bundles/auth/auth-api.ts
  frontend/src/bundles/auth/components/sign-in-form/constants/constants.ts
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/index.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/private-route/private-route.tsx
  frontend/src/bundles/common/components/public-route/public-route.tsx
  frontend/src/bundles/users/types/types.ts
  frontend/src/bundles/users/users.ts
  frontend/src/framework/storage/storage.package.ts
  frontend/src/framework/store/middlewares/handle-error.middleware.ts
  frontend/src/framework/store/store.package.ts
  frontend/src/services/notification/notification.service.ts
  frontend/src/services/services.ts
  shared/src/bundles/auth/enums/auth-api-path.enum.ts
  shared/src/bundles/users/types/types.ts
  shared/src/bundles/users/types/user-get-all-item-response-dto.type.ts
  shared/src/bundles/users/types/user-load-request-dto.type.ts
  shared/src/bundles/users/types/user-load-response-dto.type.ts
  shared/src/bundles/users/users.ts
  shared/src/index.ts
Labels: frontend, backend, development, shared

#45 ss-16: Add Double Rande Slider
  frontend/package.json
  frontend/src/bundles/common/components/range-slider/range-slider.tsx
  frontend/src/bundles/common/components/range-slider/styles.module.scss
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/common/types/range-slider.type.ts
  package-lock.json
Labels: frontend, W1, development, root

#132 ss-123: Fix User Setting Tabs Colors
  frontend/src/assets/css/variables/color-variables.scss
  frontend/src/bundles/common/components/user-settings-tabs/styles.module.scss
Labels: bug, frontend, development, W2

#107 ss-104: add header to the landing page
  frontend/src/app/app.tsx
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/landing/components/components.ts
  frontend/src/bundles/landing/landing.tsx
Labels: bug, frontend, development

#120 ss-106: fix auth redirect
  frontend/src/app/app.tsx
  frontend/src/bundles/auth/enums/enums.ts
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/components/private-route/private-route.tsx
  frontend/src/bundles/common/components/public-route/public-route.tsx
  frontend/src/bundles/common/hooks/hooks.ts
Labels: frontend, development, W2

#114 ss-108: [BUG] Several visual defects on the "Sign Up" page
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/styles.module.scss
  frontend/src/bundles/auth/pages/styles.module.scss
  frontend/src/bundles/common/components/input/styles.module.scss
  frontend/src/bundles/common/helpers/get-text-to-path/get-text-to-path.ts
  frontend/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
Labels: bug, frontend, development, W2

#113 ss-110: fix auth routing
  frontend/src/bundles/auth/enums/enums.ts
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/enums/enums.ts
Labels: bug, frontend, development

#89 ss-42: Add sign in page
  frontend/src/bundles/auth/auth-api.ts
  frontend/src/bundles/auth/components/sign-in-form/constans/constans.ts
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-in-form/styles.module.scss
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/input/styles.module.scss
Labels: frontend, development, W2

#109 ss-102: Move fa to frontend dependency
  frontend/package.json
  package.json
Labels: frontend, development, root

#146 ss-119: Responsive layout on landing page doesn't behave as expected
  frontend/src/bundles/common/components/header/styles.module.scss
  frontend/src/bundles/landing/components/feedbacks-part/styles.module.scss
  frontend/src/bundles/landing/components/first-step-part/styles.module.scss
  frontend/src/bundles/landing/components/highlight-banner/styles.module.scss
  frontend/src/bundles/landing/components/second-step-part/styles.module.scss
  frontend/src/bundles/landing/components/store-button/styles.module.scss
  frontend/src/bundles/landing/components/subscription-part/styles.module.scss
  frontend/src/bundles/landing/components/third-step-part/styles.module.scss
Labels: bug, frontend, development, W2

#145 ss-136: Add Validation Messages For "Log In" Page
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/validation-schemas/user-sign-in.validation-schema.ts
Labels: development, shared, W2

#142 ss-133: Fix several visual defects on landing page
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/input/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
  frontend/src/bundles/landing/components/first-step-part/first-step-part.tsx
  frontend/src/bundles/landing/components/highlight-banner/styles.module.scss
  frontend/src/bundles/landing/components/store-button/styles.module.scss
  frontend/src/bundles/landing/components/subscription-part/styles.module.scss
  frontend/src/bundles/landing/components/subscription-part/subscription-part.tsx
Labels: frontend, development

#143 ss-135: Add validation messages for "Sign Up" page
  frontend/src/bundles/auth/components/sign-in-form/styles.module.scss
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/styles.module.scss
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/pages/styles.module.scss
  frontend/src/bundles/common/components/input/styles.module.scss
  frontend/src/bundles/common/helpers/get-text-to-path/get-text-to-path.ts
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/validation-schemas/user-sign-up.validation-schema.ts
Labels: bug, frontend, development, shared, W2

#149 ss-42: * fix input/styles.module error, sign-in-form/styles.module bu…
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-in-form/styles.module.scss
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/input/styles.module.scss
  package-lock.json
Labels: frontend, development, root, W2

#150 ss:-133 visual defects on landing page (store buttons)
  frontend/src/bundles/landing/components/store-button/styles.module.scss
Labels: frontend

#137 ss-102: Use library.add for FA
  frontend/src/app/app.tsx
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/enums/fa-icons.enum.ts
  frontend/src/bundles/common/icon-provider.ts
  frontend/src/bundles/common/pages/wallet-details/wallet-details.tsx
Labels: frontend, development

#173 ss-166: Add 404 error page
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/pages/not-found/not-found.tsx
  frontend/src/bundles/common/pages/not-found/styles.module.scss
  frontend/src/index.tsx
Labels: frontend, development

#165 ss-39: Add Calendar Component
  frontend/package.json
  frontend/src/assets/img/calendar-icon.svg
  frontend/src/assets/img/left-arrow.svg
  frontend/src/assets/img/right-arrow.svg
  frontend/src/bundles/common/components/calendar/calendar.tsx
  frontend/src/bundles/common/components/calendar/one-day-calendar.tsx
  frontend/src/bundles/common/components/calendar/range-calendar.tsx
  frontend/src/bundles/common/components/calendar/styles.module.scss
  frontend/src/bundles/common/helpers/calendar-helpers/get-formating-date.ts
  frontend/src/bundles/common/helpers/calendar-helpers/get-initial-range.ts
  frontend/src/bundles/common/helpers/calendar-helpers/get-months-for-arrows.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/pages/base.tsx
  package-lock.json
Labels: frontend, W1, development, root, W2

#191 ss-190: Fixed package-lock.json
  package-lock.json
Labels: bug

#188 ss-183: Change Input And Button Styles On Landing Page
  frontend/src/bundles/landing/components/subscription-part/styles.module.scss
  frontend/src/bundles/landing/components/subscription-part/subscription-part.tsx
Labels: frontend, development, W3

#160 ss-155: Make elements on the Landing page non-clickable
  frontend/src/bundles/common/components/charts/line-chart/line-chart.tsx
  frontend/src/bundles/common/components/charts/line-chart/options.ts
  frontend/src/bundles/common/components/doughnut-chart/doughnut-chart.tsx
  frontend/src/bundles/common/enums/doughnut-data.enum.ts
  frontend/src/bundles/common/helpers/chart-helper.ts
  frontend/src/bundles/landing/components/doughnut-chart-card/doughnut-chart-card.tsx
  frontend/src/bundles/landing/components/feedback-card/styles.module.scss
  frontend/src/bundles/landing/components/line-chart-card/line-chart-card.tsx
  frontend/src/bundles/landing/components/step-info-button/styles.module.scss
  frontend/src/bundles/landing/components/wallet-card/styles.module.scss
Labels: frontend, development

#118 ss-117: Return .env.example to frontend folder
  frontend/.env.example
Labels: bug, ENV, development, W2

#140 ss-66: Add wallets api
  backend/src/bundles/wallets/enums/enums.ts
  backend/src/bundles/wallets/types/types.ts
  backend/src/bundles/wallets/validation-schemas/validation-schemas.ts
  backend/src/bundles/wallets/wallets.controller.ts
  backend/src/bundles/wallets/wallets.entity.ts
  backend/src/bundles/wallets/wallets.model.ts
  backend/src/bundles/wallets/wallets.repository.ts
  backend/src/bundles/wallets/wallets.service.ts
  backend/src/bundles/wallets/wallets.ts
  backend/src/common/controller/controller.package.ts
  backend/src/common/controller/types/api-handler-options.type.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/helpers/get-id-from-token.helper.ts
  backend/src/common/server-application/server-application.ts
  backend/src/migrations/20230323142236_add_wallets.ts
  shared/src/bundles/wallets/enums/enums.ts
  shared/src/bundles/wallets/enums/wallet-validation-message.enum.ts
  shared/src/bundles/wallets/enums/wallets-api-path.enum.ts
  shared/src/bundles/wallets/types/create-request-dto.type.ts
  shared/src/bundles/wallets/types/request-with-token.type.ts
  shared/src/bundles/wallets/types/token-delete-request-dto.types.ts
  shared/src/bundles/wallets/types/types.ts
  shared/src/bundles/wallets/types/wallet-find-request-dto.type.ts
  shared/src/bundles/wallets/types/wallet-get-all-item-response-dto.type.ts
  shared/src/bundles/wallets/types/wallet-get-all-response-dto.type.ts
  shared/src/bundles/wallets/validation-schemas/validation-schemas.ts
  shared/src/bundles/wallets/validation-schemas/wallet-create.validation-schema.ts
  shared/src/bundles/wallets/wallets.ts
  shared/src/enums/api-path.enum.ts
  shared/src/framework/http/types/http-method.type.ts
  shared/src/index.ts
Labels: backend, development, shared, W2

#161 ss-156: Make the header on the Landing page static
  frontend/src/bundles/common/components/header/styles.module.scss
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/landing/landing.tsx
  frontend/src/bundles/landing/styles.module.scss
Labels: frontend, development, W2

#176 ss-174: Add logo element according to design
  frontend/src/assets/img/logo-smartspend.svg
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/pages/styles.module.scss
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/header/styles.module.scss
Labels: frontend, development, W3

#193 ss-186: Fix bugImpossible to access the wallet details page, user redirects to dashboard page
  frontend/src/bundles/common/components/private-route/private-route.tsx
  frontend/src/index.tsx
Labels: frontend, development

#139 ss-15: Add Dropdown
  frontend/package.json
  frontend/src/bundles/common/components/dropdown/dropdown.tsx
  frontend/src/bundles/common/components/dropdown/multi-dropdown.tsx
  frontend/src/bundles/common/components/dropdown/styles.module.scss
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/common/types/dropdown.type.ts
  package-lock.json
Labels: frontend, development, root, W2

#202 ss-178: Fix missing elements on dashboard page
  frontend/src/bundles/common/components/bar-chart/bar-chart.tsx
  frontend/src/bundles/common/components/bar-chart/config-bar.ts
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/input/styles.module.scss
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/mocks.dashboard.ts
  frontend/src/bundles/common/pages/dashboard/styles.module.scss
Labels: bug, frontend, development, W3

#187 ss-42: * fix visual defects on the LogIn/SignUp pages
  frontend/src/bundles/auth/components/sign-in-form/styles.module.scss
  frontend/src/bundles/auth/components/sign-up-form/styles.module.scss
Labels: bug, frontend, development, W3

#162 ss-154: Increase the size of eye icons and dots in password fields on the Log In/Sign Up pages
  frontend/src/assets/css/fonts.scss
  frontend/src/assets/fonts/verdana/Verdana.eot
  frontend/src/assets/fonts/verdana/Verdana.ttf
  frontend/src/assets/fonts/verdana/Verdana.woff
  frontend/src/assets/fonts/verdana/Verdana.woff2
  frontend/src/assets/img/eye-slash.svg
  frontend/src/assets/img/eye.svg
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/input/styles.module.scss
  frontend/src/bundles/common/enums/fa-icons.enum.ts
  frontend/src/bundles/common/icon-provider.ts
Labels: frontend, development, W2

#164 ss-152: [BUG] Wrong website layout on different screens
  frontend/package.json
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables/container-width-variables.scss
  frontend/src/assets/css/variables/variables.scss
  frontend/src/bundles/common/components/header/styles.module.scss
  frontend/src/bundles/landing/components/doughnut-chart-card/doughnut-chart-card.tsx
  frontend/src/bundles/landing/components/doughnut-chart-card/styles.module.scss
  frontend/src/bundles/landing/components/feedback-card/styles.module.scss
  frontend/src/bundles/landing/components/feedbacks-part/feedbacks-part.tsx
  frontend/src/bundles/landing/components/feedbacks-part/styles.module.scss
  frontend/src/bundles/landing/components/first-step-part/first-step-part.tsx
  frontend/src/bundles/landing/components/first-step-part/styles.module.scss
  frontend/src/bundles/landing/components/footer-links/styles.module.scss
  frontend/src/bundles/landing/components/footer/footer.tsx
  frontend/src/bundles/landing/components/footer/styles.module.scss
  frontend/src/bundles/landing/components/highlight-banner/highlight-banner.tsx
  frontend/src/bundles/landing/components/highlight-banner/styles.module.scss
  frontend/src/bundles/landing/components/line-chart-card/styles.module.scss
  frontend/src/bundles/landing/components/question-part/question-part.tsx
  frontend/src/bundles/landing/components/question-part/styles.module.scss
  frontend/src/bundles/landing/components/second-step-part/second-step-part.tsx
  frontend/src/bundles/landing/components/second-step-part/styles.module.scss
  frontend/src/bundles/landing/components/step-info-panel/styles.module.scss
  frontend/src/bundles/landing/components/store-button/styles.module.scss
  frontend/src/bundles/landing/components/subscription-part/styles.module.scss
  frontend/src/bundles/landing/components/subscription-part/subscription-part.tsx
  frontend/src/bundles/landing/components/third-step-part/styles.module.scss
  frontend/src/bundles/landing/components/third-step-part/third-step-part.tsx
  frontend/src/bundles/landing/components/wallet-card/styles.module.scss
  frontend/src/bundles/landing/landing.tsx
  package-lock.json
Labels: bug, frontend, development, root, W2

#159 ss-126: Add UI to show, create, update, delete budgets
  frontend/src/app/app.tsx
  frontend/src/assets/img/default-avatar.jpg
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/budget-card/budget-card.tsx
  frontend/src/bundles/common/components/budget-card/styles.module.scss
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/loader/loader.tsx
  frontend/src/bundles/common/components/private-route/private-route.tsx
  frontend/src/bundles/common/components/public-route/public-route.tsx
  frontend/src/bundles/common/config/header-tabs.config.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/helpers/to-custom-locale-string/to-custom-locale-string.ts
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/common/pages/budgets/budgets.tsx
  frontend/src/bundles/common/pages/budgets/styles.module.scss
  frontend/src/bundles/common/pages/dashboard/styles.module.scss
  frontend/src/bundles/landing/landing.tsx
  frontend/src/index.tsx
Labels: frontend, development, W2

#189 ss-184: fix visual defects on landing page
  .stylelintrc.yml
  frontend/src/assets/css/utils.scss
  frontend/src/assets/css/variables/breakpoint-variables.scss
  frontend/src/assets/css/variables/variables.scss
  frontend/src/assets/img/emma-avatar.svg
  frontend/src/assets/img/joan-avatar.svg
  frontend/src/bundles/auth/pages/styles.module.scss
  frontend/src/bundles/common/components/header/styles.module.scss
  frontend/src/bundles/common/components/tabs/tab.tsx
  frontend/src/bundles/common/components/tabs/tabs.tsx
  frontend/src/bundles/common/enums/breakpoint.enum.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/pages/dashboard/styles.module.scss
  frontend/src/bundles/common/pages/wallet-details/styles.module.scss
  frontend/src/bundles/landing/components/button-tabs/button-tab.tsx
  frontend/src/bundles/landing/components/button-tabs/button-tabs.tsx
  frontend/src/bundles/landing/components/button-tabs/styles.module.scss
  frontend/src/bundles/landing/components/components.ts
  frontend/src/bundles/landing/components/doughnut-chart-card/styles.module.scss
  frontend/src/bundles/landing/components/feedback-card/feedback-card.tsx
  frontend/src/bundles/landing/components/feedbacks-part/feedbacks-part.tsx
  frontend/src/bundles/landing/components/feedbacks-part/styles.module.scss
  frontend/src/bundles/landing/components/first-step-part/first-step-part.tsx
  frontend/src/bundles/landing/components/footer/footer.tsx
  frontend/src/bundles/landing/components/footer/styles.module.scss
  frontend/src/bundles/landing/components/line-chart-card/line-chart-card.tsx
  frontend/src/bundles/landing/components/second-step-part/second-step-part.tsx
  frontend/src/bundles/landing/components/step-info-button/styles.module.scss
  frontend/src/bundles/landing/components/step-info-panel/styles.module.scss
  frontend/src/bundles/landing/components/store-button/styles.module.scss
  frontend/src/bundles/landing/components/subscription-part/styles.module.scss
  frontend/src/bundles/landing/components/subscription-part/subscription-part.tsx
  frontend/src/bundles/landing/enums/enums.ts
  frontend/src/bundles/landing/enums/swiper-breakpoint-config.enum.ts
  frontend/src/bundles/landing/landing.tsx
  frontend/vite.config.ts
Labels: frontend, development, W3

#210 ss-180: Update PWA logo
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/mstile-150x150.png
  frontend/public/safari-pinned-tab.svg
Labels: frontend, development, W3

#182 ss-171: add loader component
  frontend/src/assets/img/logo.svg
  frontend/src/bundles/common/components/loader/loader.tsx
  frontend/src/bundles/common/components/loader/styles.module.scss
  frontend/src/bundles/common/pages/base.tsx
Labels: frontend, development

#207 ss-204: [BUG] The data in the password fields overlap the eye icons on the Log In/Sign Up pages
  frontend/src/bundles/auth/components/sign-in-form/styles.module.scss
  frontend/src/bundles/auth/components/sign-up-form/styles.module.scss
  frontend/src/bundles/common/components/input/input.tsx
Labels: bug, frontend, development, W3

#98 ss-68: Add API to update user profile data
  backend/src/bundles/users/types/types.ts
  backend/src/bundles/users/types/update-request-dto.ts
  backend/src/bundles/users/types/user-gender.ts
  backend/src/bundles/users/types/user-update-request-dto.ts
  backend/src/bundles/users/types/user-update-response-dto.ts
  backend/src/bundles/users/user-profile.model.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/bundles/users/user.entity.ts
  backend/src/bundles/users/user.model.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/user.service.ts
  backend/src/bundles/users/users.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/interfaces/repository.interface.ts
  backend/src/common/interfaces/service.interface.ts
  backend/src/migrations/20230321080754_user_profile.ts
Labels: backend, development, W2

#203 ss-201: Fix logo design on sing-in/sign-up page
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/pages/styles.module.scss
Labels: bug, frontend, development, W3

#205 ss-175: Add a toaster to hide menu items in the header if the screen resolution is small
  frontend/src/assets/css/variables/container-width-variables.scss
  frontend/src/assets/css/variables/variables.scss
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/header/styles.module.scss
  frontend/src/bundles/common/components/menu/menu.tsx
  frontend/src/bundles/common/components/menu/styles.module.scss
  frontend/src/bundles/common/components/scroll-nav/scroll-nav.tsx
  frontend/src/bundles/common/enums/fa-icons.enum.ts
  frontend/src/bundles/common/enums/menu-links.enum.ts
  frontend/src/bundles/common/helpers/handle-scroll/handle-scroll.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/icon-provider.ts
  frontend/src/bundles/common/pages/budgets/budgets.tsx
  frontend/src/bundles/common/pages/budgets/styles.module.scss
  frontend/src/bundles/common/types/menu-link.type.ts
  frontend/src/bundles/common/types/types.ts
  frontend/src/bundles/landing/components/feedbacks-part/feedbacks-part.tsx
  frontend/src/bundles/landing/components/first-step-part/first-step-part.tsx
  frontend/src/bundles/landing/components/footer-links/footer-links.tsx
  frontend/src/bundles/landing/components/footer-links/styles.module.scss
  frontend/src/bundles/landing/components/footer/footer.tsx
  frontend/src/bundles/landing/components/footer/styles.module.scss
  frontend/src/bundles/landing/components/highlight-banner/highlight-banner.tsx
  frontend/src/bundles/landing/components/line-chart-card/styles.module.scss
  frontend/src/bundles/landing/components/second-step-part/second-step-part.tsx
  frontend/src/bundles/landing/components/second-step-part/styles.module.scss
  frontend/src/bundles/landing/components/subscription-part/subscription-part.tsx
  frontend/src/bundles/landing/components/third-step-part/third-step-part.tsx
Labels: frontend, development, W3

#218 ss-217: fix routes white list
  backend/src/common/constants/white-routes.constants.ts
  backend/src/common/plugins/authorization/authorization.plugin.ts
Labels: backend, development

#233 ss-232: fix width & height on auth page
  frontend/src/bundles/auth/pages/styles.module.scss
Labels: bug, frontend

#209 ss-177: update UI page
  frontend/package.json
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/enums/fa-icons.enum.ts
  frontend/src/bundles/common/icon-provider.ts
  frontend/src/bundles/common/pages/base.tsx
  frontend/src/bundles/landing/components/components.ts
  frontend/src/bundles/ui/components/base-modal-part/base-modal-part.tsx
  frontend/src/bundles/ui/components/button-part/button-part.tsx
  frontend/src/bundles/ui/components/button-part/styles.module.scss
  frontend/src/bundles/ui/components/calendar-part/calendar-part.tsx
  frontend/src/bundles/ui/components/card-part/card-part.tsx
  frontend/src/bundles/ui/components/card-part/styles.module.scss
  frontend/src/bundles/ui/components/chart-part/chart-part.tsx
  frontend/src/bundles/ui/components/chart-part/styles.module.scss
  frontend/src/bundles/ui/components/code-highlight/code-highlight.tsx
  frontend/src/bundles/ui/components/components.ts
  frontend/src/bundles/ui/components/doughnut-chart-part/doughnut-chart-part.tsx
  frontend/src/bundles/ui/components/dropdown-part/dropdown-part.tsx
  frontend/src/bundles/ui/components/header-part/header-part.tsx
  frontend/src/bundles/ui/components/header-part/styles.module.scss
  frontend/src/bundles/ui/components/input-part/input-part.tsx
  frontend/src/bundles/ui/components/line-chart-part/line-chart-part.tsx
  frontend/src/bundles/ui/components/line-chart-part/styles.module.scss
  frontend/src/bundles/ui/components/loader-part/loader-part.tsx
  frontend/src/bundles/ui/components/multi-dropdown-part/multi-dropdown-part.tsx
  frontend/src/bundles/ui/components/range-slider-part/range-slider-part.tsx
  frontend/src/bundles/ui/components/tabs-part/styles.module.scss
  frontend/src/bundles/ui/components/tabs-part/tabs-part.tsx
  frontend/src/bundles/ui/components/user-settings-tabs-part/styles.module.scss
  frontend/src/bundles/ui/components/user-settings-tabs-part/user-settings-tabs-part.tsx
  frontend/src/bundles/ui/enums/enums.ts
  frontend/src/bundles/ui/styles.module.scss
  frontend/src/bundles/ui/ui.tsx
  frontend/src/index.tsx
  package-lock.json
Labels: frontend, development, root, W3

#223 ss-222: wrong redirect on 404 page
  frontend/src/bundles/common/pages/not-found/not-found.tsx
  frontend/src/index.tsx
Labels: bug, frontend, development

#227 ss-220: [BUG] The data is removed from the fields on the "Sign Up" page
  frontend/src/bundles/auth/components/sign-in-form/constants/constants.ts
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
  shared/src/bundles/users/validation-schemas/user-sign-up.validation-schema.ts
Labels: bug, frontend, development, shared

#240 ss-197 fix cors/build error
  backend/src/bundles/wallets/enums/enums.ts
  backend/src/bundles/wallets/types/types.ts
  backend/src/common/server-application/server-app.ts
Labels: backend

#121 ss-67: Add API to create, update and delete categories
  backend/src/bundles/categories/categories.ts
  backend/src/bundles/categories/category.controller.ts
  backend/src/bundles/categories/category.entity.ts
  backend/src/bundles/categories/category.model.ts
  backend/src/bundles/categories/category.repository.ts
  backend/src/bundles/categories/category.service.ts
  backend/src/bundles/categories/enums/enums.ts
  backend/src/bundles/categories/types/types.ts
  backend/src/bundles/categories/validation-schemas/validation-schemas.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/server-application/server-application.ts
  backend/src/migrations/20230329094040_add_categories_table.ts
  shared/src/bundles/categories/categories.ts
  shared/src/bundles/categories/enums/category-api-path.enum.ts
  shared/src/bundles/categories/enums/category-error-message.ts
  shared/src/bundles/categories/enums/category-type.enums.ts
  shared/src/bundles/categories/enums/category-validation-message.enum.ts
  shared/src/bundles/categories/enums/enums.ts
  shared/src/bundles/categories/types/category-get-all-item-response-dto.type.ts
  shared/src/bundles/categories/types/category-get-all-response-dto.type.ts
  shared/src/bundles/categories/types/category-id-request-dto.type.ts
  shared/src/bundles/categories/types/category-request-dto.type.ts
  shared/src/bundles/categories/types/category-update-payload-dto.type.ts
  shared/src/bundles/categories/types/types.ts
  shared/src/bundles/categories/validation-schemas/validation-schemas.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: backend, development, shared, W2

#221 ss-196: add popup message to the sign up page
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/styles.module.scss
  frontend/src/bundles/auth/enums/enums.ts
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/index.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/framework/store/middlewares/handle-error.middleware.ts
Labels: frontend, development, W3

#236 ss-230: add wallet card on dashboard
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/wallet-card/styles.module.scss
  frontend/src/bundles/common/components/wallet-card/wallet-card.tsx
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/enums/wallet-card-size.enum.ts
  frontend/src/bundles/common/enums/wallet-card-variant.enum.ts
  frontend/src/bundles/common/pages/dashboard/dashboard.tsx
  frontend/src/bundles/common/pages/dashboard/mocks.dashboard.ts
  frontend/src/bundles/landing/components/components.ts
  frontend/src/bundles/landing/enums/enums.ts
Labels: frontend, development, W3

#105 ss-70: + user profile page
  frontend/src/assets/css/variables/color-variables.scss
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/button/styles.module.scss
  frontend/src/bundles/common/components/dropdown/dropdown.tsx
  frontend/src/bundles/common/components/settings/styles.module.scss
  frontend/src/bundles/common/components/settings/title.tsx
  frontend/src/bundles/common/components/settings/user-profile.tsx
  frontend/src/bundles/common/components/settings/user-profile/avatar-container.tsx
  frontend/src/bundles/common/components/settings/user-profile/avatar.tsx
  frontend/src/bundles/common/components/settings/user-profile/delete-avatar-button.tsx
  frontend/src/bundles/common/components/settings/user-profile/mock-data.ts
  frontend/src/bundles/common/components/settings/user-profile/settings-form.tsx
  frontend/src/bundles/common/components/settings/user-profile/submit-button.tsx
  frontend/src/bundles/common/components/settings/user-profile/upload-avatar-button.tsx
  frontend/src/bundles/common/enums/button-variant.enum.ts
  frontend/src/bundles/common/pages/base.tsx
  package-lock.json
  shared/src/bundles/users/types/user-change-settings-request.ts
Labels: frontend, development, root, shared, W2
